<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <main class="main">
  <%- include('./header.ejs') %>
<% if (locals.edit) { %>
  <h1>Welcome To Editing  </h1>
  <p>You can Create and Account With us.</p>
  <form action="/api/user/edit/<%= edit.id %>" method="post" id="create">
  
   
  <input type="text" name="username" pattern="[<%= edit.username %>]" value="<%= edit.username %>">
  <label for="type">Account Type:
    <select name="type" id="type">
      <option value="Checking">Checking</option>
      <option value="Savings">Savings</option>
      <option value="Big MoNeY">Big MoNeY</option>
    </select>
  </label>
    <input type="text" name="balance"  pattern="^(0|[1-9][0-9]*)$" value="<%= edit.balance %>">
    <input type="submit" value="Edit" class="btn edit">
  </form>
<% } %>
</main>
<footer class="footer"></footer>
</div>
</body>
</html>